<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <h1>Encoder les données de la pièce</h1>
            <form action="/user" method="POST">
            Pièce:
            <input type="text" name="name" value="" /><br />
            Largeur:
            <input type="text" name="width" value="" /><br />
            Longeur:
            <input type="text" name="length" value="" /><br />
            <input type="hidden" name="id" value="" />
            <input type="submit" name="save" value="Enregistrer" /><br />
            <input type="submit" name="Calculer la Surface" formaction="/">
        </form>
    </body>
</html>